@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

@media (prefers-color-scheme: light) {
  a:hover {
    color: #61dafb;
  }
}

select {
  width: 175px;
  margin-top: 15px;
  padding: 8px;
  border-radius: 20px;
  background-color: #16A180;
  color: whitesmoke
}

main {
  text-align: center;
  padding: 1em;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}

h1 {
  font-weight: 600;
}

h3 {
  color: #61dafb;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1.2rem;
  margin: 2rem auto;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 200px;
  grid-gap: 5px;
  margin-top: 15px;
}

.gallery .img-wrapper {
  width: 146px;
  height: 146px;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.1);
}

.calc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;

  & > button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid #61dafb;
    border-radius: 0.25rem;
    background-color: transparent;
    color: #61dafb;
    cursor: pointer;
    outline: none;

    width: 3rem;
    margin: 0 a;
  }

  & > label {
    font-size: 1.5rem;
    margin: 0 1rem;
  }
}

a {
  font-size: 0.5rem;
  margin: 0.5rem;
  color: #cccccc;
  text-decoration: none;
}

.centered {
  text-align: center;
}